# Entorno (development o production)
DJANGO_ENV=development

# Clave secreta (NO COMPARTIR ESTA CLAVE EN PRODUCCIÓN)
SECRET_KEY="tu-clave-super-secreta-de-desarrollo-aqui"

# Base de Datos (Si aplica)
# DB_NAME=allyuct
# DB_USER=usuario
# DB_PASSWORD=contrasena
# DB_HOST=localhost
# DB_PORT=3306
